$color1:#fdd12a;
$color2:#997648;
$color3:#97c407;
$color4:#9e9e9e;
$color5:#f5f6f7;
$fontfamily: 'Roboto', sans-serif;


.Cart{
    text-align: center;
    h1{
        color: $color2;
        text-align: center;
        font-family: $fontfamily;
    }
    h2{
        border: 1px solid $color3 ;
        padding: 20px;
        background-color: $color1;
    }
    a{
        color: $color3;
        font-weight: 500;
    }
    .finalizarCompra{
        padding: 20px 40px;
        font-family: $fontfamily;
        font-size: 1.5em;
        font-weight: 500;
        border: $color1 2px solid;
        border-radius: 10px;
        background-color: $color3;
        color: $color5;
        &:hover{
            background-color: $color2;
        }
    }

}
