$color1:#fdd12a;
$color2:#997648;
$color3:#97c407;
$color4:#9e9e9e;
$color5:#f5f6f7;
$fontfamily: 'Roboto', sans-serif;

.loading{
    font-size: 1.5em;
    color: $color2;
    font-family: $color3;
    text-align: center;
    font-weight: bold;

}

.container{
    font-family:$fontfamily;
    display: inline-flex;
    border-bottom: solid 1px $color2;
    margin-bottom: 30px;
    color: $color2;
    width: 100%;
    .container_img{
        width: 35%;
        text-align: center;
        border-right: solid 1px $color2;
        padding: 10px;
        img{
            width: 100%;
        }
    }
    .container_div{
        width: 50%;
        border-right: solid 1px $color2;
        padding: 10px;
        h2{
            color: $color3;
            font-size: calc(12px + 1.5vw);
        }
        h4{
            font-size: calc(12px + 0.5vw);
            text-decoration: underline $color3;
        }
    }
    .container_precio{
        margin: 10px;
        padding: 10px;
        border: solid 1px $color2;
        text-align: center;
        border-radius: 5px;
        h3{
            font-size: calc(12px + 1.5vw);
        }
        .addButton{
            font-weight: bold;
            border: $color3 solid 2px; 
            position: relative;
            bottom: 1px;
            color: $color5;
            font-family: $fontfamily;
            font-weight: 700;
            padding: 5px 10px;
            border-radius: 5px;
            margin: 5px;
            background-color: $color3;
            font-size: calc(12px + 0.3vw);
            &:hover{
                background-color: $color1;
                color: $color2;
            }
            &:focus{
                border: solid $color3 2px; 
            }
    
            &:visited{
                border: solid $color3 2px; 
            }
        }
    
    }

    .counter{
        margin-bottom: 10px;
        input{
            text-align: center;
            font-family: $fontfamily;
            color: $color2;
            font-weight: bold;
            border: $color3 solid 2px;
            padding: 1px;
            width: 40%;
            margin: 5%;
        }
        button{
            font-weight: bold;
            border: $color3 solid 2px; 
            padding: 1px 6px; 
            position: relative;
            bottom: 1px;
            color: $color5;
            background-color:$color3 ;
            border-radius: 5px;
            &:hover{
                background-color: $color1;
                color: $color2;
            }
        }
        
    }

    .section-img{
        width: 100%;
    }

}