$color1:#fdd12a;
$color2:#997648;
$color3:#97c407;
$color4:#9e9e9e;
$color5:#f5f6f7;
$fontfamily: 'Roboto', sans-serif;

header{
    background-color: #fdd12a;
    font-family: $fontfamily;
    text-align: center;

    .title{
        color: #997648;
        font-weight: 900;
        margin: 0;
        padding: 15px 0;
    }

    nav{
        padding-bottom: 15px;
        ul{
            display: inline-flex;
            width: 60%;
            list-style: none;
            padding: 0;
            li{
                margin: 0 5px;
                width: 20%;
                a{
                    text-decoration: none;
                    color: $color2;
                    font-weight: 500;
                    &:hover{
                        color: $color3;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

