$color1:#fdd12a;
$color2:#997648;
$color3:#97c407;
$color4:#9e9e9e;
$color5:#f5f6f7;
$fontfamily: 'Roboto', sans-serif;

.alert{
    color: white;
    position: absolute;
    z-index: 10;
    padding:5% 10%;
    border-radius: 10px;
    text-align: center;
    background-color: $color3;
    opacity: 95%;
    top: -50px;
    right: 170px;
    button{
        background-color: $color1;
        width: 80%;
        height: 40px;
        border-radius: 5px;
        font-size: calc(12px + 0.5vw);
        color: $color2;
        font-weight: bold;
        border: none;
        &:hover{
            width: 83%;
        }

        &:focus{
            outline: none;
            background-color: $color5;
        }
    }
}

